@import 'codemirror/lib/codemirror.css';
@import 'antd/dist/antd.min.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ellipsis-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .ant-btn {
    outline: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

table {
    user-select: text;
    min-width: 100%;
}
table td {
    border: 1px solid #c2c2c2;
    padding: 4px 8px;
}
